html, body, #divMap {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: #FFF;
    overflow: hidden;
    font-family: "Trebuchet MS";
}

.esri-search {
    width: 300px;
}

#toolbarDiv {
    position: absolute;
    bottom: 150px;
    right: 20px;
    cursor: default;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.loading-indicator {
    display: none;
    height: 100%;
    width: 100%;
    z-index: 500;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    background: #fff;
}

.app-loading .loading-indicator,
.app-error .loading-indicator {
    /* Show this class when loading or error */
    display: block;
}

.app-loading .loading-indicator {
    /* Loading image */
    background-position: center center;
    background-image: url(../images/ajax-loader.gif);
    background-repeat: no-repeat;
}

.app-error .loading-message {
    /* Error status */
    background-position: top center;
    background-image: url(../images/error.png);
    background-repeat: no-repeat;
    padding-top: 60px;
    width: 100%;
    position: absolute;
    z-index: 2;
    top: 40%;
    left: 0;
    text-align: center;
}

#zoomGroup {
    background-color: Transparent;
}
#zoomIn {
    /*border-radius: 10px 10px 0px 0px !important;*/
    background-color:  rgba(92, 92, 92, 0.8);
    color: white;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    height: 38px;
}
#zoomOut {
    /*border-radius: 0px 0px 10px 10px !important;*/
    background-color:  rgba(92, 92, 92, 0.8);
    color: white;
    height: 38px;
}
#esri-icon-plus {
    color: white !important;
}
#esri-icon-minus {
    color: white !important;
}
#zoomOut:hover, #zoomIn:hover{
    background:black;
    color:white; 
}
@media only screen and (max-width: 600px) {
    #panelTop {
      max-width: 275px;
    }
    #panelMenu {
        margin-left: 0px;
    }
}
@media only screen and (max-width: 600px) {
    #panelMenu {
        margin-left: 0px !important;

    }
}

#panelTop {
    font-size: 8px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    position: fixed;
    padding: 0;
    display: block;
    overflow: visible;
    /*width: auto;*/
    left: 60px;
    top: 15px;
    background-color: rgba(92, 92, 92, 0.8);
    border-radius: 5px;
}

#panelTitle {
    height: auto;
    float: left;
    color: #ffffff;
    display: block;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    font-family: "Helvetica Neue", "Arial", sans-serif;
    font-weight: normal;
    padding-left: 10px;
}
#panelTools {
    position: relative;
    left: 0px;
    top: 0px;
    min-height: 35px;
    width: 100%;
    display: block;
    clear: both;
}
#home {
    float: left;
    margin-left: 1px;
    margin-top: 0px;
    background-color: transparent;
}
.esri-icon-home {
    color: white;
}
#locate {
    float: left;
    margin-top: 0px;
    background-color: transparent;
}
.esri-icon-locate {
    color: white;
}
#fullscreen {
    float: left;
    margin-top: 0px;
    background-color: transparent;
}
.esri-icon-zoom-out-fixed, .esri-icon-zoom-in-fixed {
    color: white;
}
.esri-compass {
    background-color:  rgba(92, 92, 92, 0.8) ;
}
#basemapGallery {
    float: left;
    margin-top: 0px;
    background-color: transparent;
}

.esri-icon-basemap, .esri-icon-collapse {
    color:white;
}

#panelMenu {
    top: 10px;
    right: 2px;
    font-size: 24px;
    cursor: pointer;
    /*color: #fff;*/
    display: block;
    float: left;
    margin-left: 10px;
    margin-top: 5px;
    margin-right: 10px
}

.container {
    position: absolute;
    top: 70%;
    left: 15px;
    bottom: 32px;
    display: block;
    width: 1000px;
}